<div [ngStyle]="{ backgroundColor: generateBackgroundColor()}">
  <h1 class="display-1" [ngClass]="{'is-white': buttonAddClicked, 'is-red': !buttonAddClicked}">POKEDEX</h1>

  <h2 class ="display-3">My pokémons</h2>

  pokémon: {{pokemons.length}}



  <div>
  <p>le nom du pokemon est {{pokemonName}}</p>
  </div>

  <div>
    <input type="text" [(ngModel)]="pokemonName">
  </div>



  <div>
  <button (click)="addPokemonButton($event)" class="btn btn-primary">add pokémon</button>
  </div>

  <div *ngIf="buttonAddClicked">pokémon added !</div>

  <div *ngIf="pokemons.length === 0">TU N'AS PLUS DE POKEMON ! VA EN CAPTURER !</div>

<app-pokemon-item (removeClick)="removePokemon(i)" [name]="pokemon" *ngFor="let pokemon of pokemons; let i = index"></app-pokemon-item>

</div>




